:root {
	--resume-margin: 10mm;
	--font-size: 3.8mm;
}

body{
	background: gray;
	font-size: var(--font-size);
	margin: 0
}

.resume_margin{
	margin: var(--resume-margin);
	height: calc(100vh - 2*var(--resume-margin));
	flex-direction: column;
	display: flex;
}

.resume{
	background-color: white;
	font-family: "Times New Roman", Times, serif;
	line-height: 1.6;
	flex-direction: column;
	display: flex;
	width: 215.9mm; 
	height: 279.4mm 
}

header{
	border-bottom: 2px solid black;
	flex-grow:0;
	padding:1mm
}

footer{
	flex-grow:0;
}

.education_experience{
	display: flex;
}

.education_header, .education_body{
	justify-content: space-between;
	display: flex;
}

.education_title{
	font-weight: bold;
	font-size: 4mm;
}

.header_element{
	text-align: center;
}

.header_title{
	text-align: center;
	font-weight: bold;
	font-size: 5.2mm;
}

.date{
	text-align: center;
	font-weight: normal;
}

.experience_title{
	max-height: 1.25em;
	font-weight: bold;
	font-size: 4.2mm;
	text-decoration: underline;
}

.experience_body{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-evenly;
}

.experience_header{
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

.experience_list{
	justify-content: space-between;
	flex-grow: 0;
	padding-left: 0;
	margin: 0;
	list-style-position: outside;
	margin-left: var(--font-size);
}
