:root {
	--resume-margin: 20px;
}

body {
	background: gray;
}

.resume_margin{
	margin: var(--resume-margin);
	height: calc(100vh - 2*var(--resume-margin));
}

.resume{
	background-color: white;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	flex-direction: column;
	display: flex;
	width: 210mm; /* A4 width */
	height: 297mm; /* A4 height */
}

header{
	border-bottom: 2px solid black;
	flex-grow:0;
}

footer{
	flex-grow:0;
}

.education_experience{
	display: flex;
}

.education_header, .education_body{
	justify-content: space-between;
	display: flex;
}

.header_element{
	text-align: center;
}

.date{
	text-align: center;
}

.experience_title{
	text-decoration: underline;
}

.experience_body{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-evenly;
}

.experience_header{
	display: flex;
	justify-content: space-between;
}

.experience_list{
	justify-content: space-between;
	flex-grow: 0;
	padding-left: 0;
	margin:0;
	list-style-position: inside;
}
